<section *ngIf="accessToken">
  <div>
    <h3>Add product:</h3>
    <div>
      <label>Name</label>
      <input [(ngModel)]="name" placeholder="Enter product name" />
    </div>

    <div>
      <label>Category</label>
      <select [(ngModel)]="productCategoryId">
        <option
          *ngFor="let category of categories"
          value="{{ category._id }}"
          >{{ category.productCategory }}</option
        >
      </select>
    </div>
    <button (click)="handleSave()">Save</button>
  </div>

  <hr />

  <div>
    <h3>Remove product from database:</h3>
    <ul>
      <li *ngFor="let product of products">
        <span>{{ product.name }}</span>
        <button class="list" (click)="handleDelete(product._id)">
          Remove
        </button>
      </li>
    </ul>
  </div>
</section>
