<section class="main">
  <nav>
    <div class="navbar">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a *ngIf="accessToken" routerLink="/shopList" routerLinkActive="active"
        >Shop List</a
      >
      <a *ngIf="accessToken" routerLink="/products" routerLinkActive="active"
        >Products List</a
      >

      <a
        *ngIf="accessToken"
        routerLink="/productEditor"
        routerLinkActive="active"
        >Product Editor</a
      >

      <span class="lst" *ngIf="accessToken" (click)="logout()">Logout</span>

      <a
        *ngIf="accessToken === null"
        routerLink="/login"
        routerLinkActive="active"
        >Login</a
      >
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer>
    <div>Server status: {{ status }}</div>
  </footer>
</section>
