input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 20px;
  background-color: #333333;
  color: white;
}

label {
  display: block;
  padding-bottom: 5px;
  font-size: 20px;
  color: #333333;

}

h3 {
  font-size: 25px;
  color: #333333;
}
